@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.ant-carousel .slick-dots li button {
  @apply bg-blue-600 opacity-30;
}

.ant-carousel .slick-dots li.slick-active button {
  @apply bg-blue-600 opacity-100;
}

.ant-carousel .slick-arrow {
  @apply bg-neutral-400 hover:bg-blue-600 p-4 rounded-full;
}

.ant-carousel .slick-arrow::after {
  @apply top-2;
}

.ant-carousel .slick-arrow.slick-prev {
  @apply left-4;
}
